<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="in.canews.zeronetmobile.common">

    <application android:hasCode="false" />
    <dist:module
        dist:instant="false"
        dist:title="@string/title_common">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>